/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
Psychology
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/
.navbar {
    background: #ECB820;
}
#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.active > a , footer{
    background: #FFFFFB;
}